header.app-header {
    padding: 10px;
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: #2C74B3;
}
.link {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    height: 4rem;
    font-size: 2rem;
    font-weight:400;
    border-bottom:solid  #0a264783 2px;
}
.active {
   color : #2C74B3
}